# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Env / secrets (keep *.example)
.env
.env.*
!.env.example

# macOS
.DS_Store
